botocore<1.29.77,>=1.29.76
torch==2.0.1
torchaudio==2.0.2
torchdata==0.6.1
torchvision==0.15.2
torchviz==0.0.2
torchtext==0.15.2
torch_geometric
keras==2.13.1
lightning==2.0.8
matplotlib==3.7.2
networkx==3.1
tqdm
tensorboard
Automat>=0.8.0
constantly>=15.1
hyperlink>=17.1.1
dataclasses-json>=0.6.1
incremental>=21.3.0
jsonpath-python>=1.0.6
marshmallow>=3.19.0
mypy-extensions>=1.0.0
pandas>=1.4
huggingface-hub>=0.15.1
safetensors>=0.3.1
regex>=2022.1.18
layoutparser[layoutmodels,tesseract]
onnx
opencv-python!=4.7.0.68
rapidfuzz
chardet
emoji
filetype
langdetect
lxml
nltk
python-iso639
python-magic
rapidfuzz
tabulate
requests-file>=1.4
onnxruntime<1.16
typing-extensions<6.0,>=4.7.1
jsonargparse[signatures]
pyqt5<5.16
pyqtwebengine<5.16
fsspec==2023.4.0